<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro Usu치rios </title>
    <link rel="stylesheet" href="http://localhost:8000/css/bootstrap.min.css" />
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #216fa3;">
        <a style="color: #fcfcfc;" class="nav-link"  href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/cadastroUsuario" style="color: #000000;">Cadastro de usu치rios</a>
                </li>            
            </ul>
            <span class="navbar-text" style="color: #fcfcfc;">
                <% for (key in sessao){ %>
                    <h6>Bem vindo <%= sessao[key].nome %></h6>
                <% } %>
            </span>
        </div>
    </nav>

    <div class="container" style="padding-top:50px">

        <form action="/cadastroUsuario" method="post">

            <div class="form-group col-sm-5">
                <label for="">Nome Completo</label>
                <input class="form-control" type="text" placeholder="Nome" name="nome" value="">
            </div>
            <div class="form-group col-sm-5">
                <label for="">Nome de usu치rio</label>
                <input class="form-control" type="text" placeholder="Usu치rio" name="usuario" value="">
            </div>
            <div class="form-group col-sm-5">
                <label for="">Senha</label>
                <input class="form-control" type="password" placeholder="******" name="senha" value="">
            </div>
            <div class="form-group col-sm-5">
                <label for="">E-mail</label>
                <input class="form-control" type="text" placeholder="E-mail" name="email" value="">
            </div>

            <div class="form-group col-sm-5">
                <button class="btn btn-primary">Salvar</button>
            </div>
            
        </form>

    </div>
</body>
</html>