<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Login </title>
</head>
<body>

    <h1>Efetue o login</h1>

    <br>
    <form action="/login" method="post">
        <label for="">Usuario</label>
        <input type="text" name="usuario" placeholder="Usuario" value="<%= dados.usuario%>">    

        <label for="">Senha</label>
        <input type="text" name="senha" placeholder="Senha" value="<%= dados.senha%>"> 

        <button type="submit">Login</button>
    </form>

    <br>

    <% if(erros){ %>
    <ul>
        <% for(var chave in erros){ %>
        <li><%= erros[chave].msg %></li>
        <% } %>
    </ul>
    <% } %>

</body>
</html>